<!doctype html>
<html>
    <head>
        <title><%- title %> - McFly Watches Movies</title>
        <link rel="stylesheet" href="/css/main.css"/>
    </head>
    <body>
        <%- partial("../_nav") %>
        
        <div class="container content">
            <div class="row">
                <%- yield %>
            </div>
        </div>
        
        <div class="container">
            <%- partial("_quote", {quote: quote}) %>
        </div>
    </body>
</html>

